html {
    display: flex;
    padding: 0px;
    margin: 0px;
    background-color: #E6F0FF;
    flex-direction: column;
    align-items: center;
}

body {
    display: flex;
    width: 1080px;
    height: 1526px;
    margin: 85px;
    background-color: #ffffff;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
}

header {
    width: 1080px;
    height: 128px;
    justify-content: space-between;
    border-bottom: 1px solid #EAEAEA;
}

h1 {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    margin: 0;
    text-transform: uppercase;
}

p {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #5C5C5C;
    margin-left: 10px;
}

slider {
    display: flex;
    width: 960px;
    height: 300px;
    margin-top: 45px;
    background: #F4EFE9;
    border-radius: 20px;
    align-items: center;
    align-content: space-between;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: wrap;
}

group {
    display: flex;
    flex-wrap: wrap;
    height: 941px;
    width: 960px;
}

magazine {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    height: 872px;
    align-content: space-between;
    justify-content: space-between;
}

card {
    display: flex;
    margin: 0px;
    width: 210px;
    height: 260px;
    border: 1px solid #F3F3F3;
    border-radius: 40px;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-around;
}

cross {
    display: flex;
    width: 133px;
    height: 112px;
    margin-top: 20px;
    margin-bottom: 14px;
    margin-left: 33px;
    margin-right: 44px;
    background: url("https://ltdfoto.ru/images/image-5.jpg") no-repeat 0 0;
    background-size: contain;
}

heart {
    padding: 0px;
    border: 0px;
    margin: 0px;
    width: 30px;
    height: 30px;
}

name {
    margin: 0;
    width: 150px;
    height: 34px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
}

add {
    display: flex;
    width: 150px;
    height: 32px;
    justify-content: space-between;
}

wp {
    width: 80px;
    height: 32px;
}

word {
    margin: 0px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    color: #BDBDBD;
}

price {
    margin: 0px;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

plus {
    padding: 0px;
    border: 0px;
    margin: 0px;
    width: 32px;
    height: 32px;
}

.plus {
    background-image: url("https://ltdfoto.ru/images/Group-91b5bd8cef355ee939.png");
    background-size: contain;
}

.plus1 {
    background: url("https://ltdfoto.ru/images/Group-95.png");
    background-size: contain;
}

.head {
    display: flex;
    width: 1080px;
    height: 128px;
    justify-content: space-between;
    align-items: baseline;
    align-items: center;
}

.left {
    display: flex;
    justify-content: space-around;
    margin-left: 46px;
    width: 245px;
    height: 41px;
    align-items: center;
}

.right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 63px;
    border: 0px;
    padding: 0px;
    width: 196px;
    height: 20px;
}

.basket {
    display: flex;
    margin: 0px;
    align-items: center;
    justify-content: space-between;
}

.all {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    color: #000000;
}

.p {
    margin: 0;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    color: #9D9D9D;
}

.move {
    box-shadow: 0 14px 30px;
    transition: transform 0.3s ease;
    transform: translate(0, -10px);
}

.remove {
    transition: transform 0.5s ease;
}

.heart {
    background: url("https://ltdfoto.ru/images/Group-90-1.png") no-repeat 0 0;
    background-size: contain;
}

.heart1 {
    background: url("https://ltdfoto.ru/images/Group-901c75345036d97dcc.png") no-repeat 0 0;
    background-size: contain;
}

.stan {
width: 240.55px;
height: 102.55px;
left: 206px;
top: 346px;

font-family: Inter;
font-style: normal;
font-weight: bold;
font-size: 38px;
line-height: 46px;
}